@import "tailwindcss";
@font-face {
  font-family: "JetBrain-Reg";
  src: url("/Users/shabichasureshkumar/Desktop/shoplens/frontend/src/assets/JetBrainsMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
.logo {
  @apply top-0 left-10 p-6 absolute;
}

.uploadButton {
  @apply top-44 left-16 p-6 absolute items-center flex justify-between h-[39px] w-[173px] pl-[30px] pr-2.5 py-1 outline-solid outline-[#2E2E2E] cursor-pointer ;
}



 .uploadText {
  @apply text-[#2E2E2E] text-xs font-normal tracking-[0] leading-[normal] relative w-fit;
  font-family: "JetBrains Mono-Regular", Helvetica;
}

.uploadLogo {
  @apply h-[24px] relative w-[24px] ;
}

.Result {
  @apply top-65 left-10 p-6 absolute text-[#2E2E2E] text-xs font-normal tracking-[0] leading-[normal] w-fit;
    font-family: "JetBrains Mono-Regular", Helvetica;
}
.image {
  @apply top-80 left-16  absolute w-50 h-50 outline-solid outline-[#2E2E2E] cursor-pointer ;
}
.image:hover {
  box-shadow:12px 12px 0px #2E2E2E;
}