@import "tailwindcss";
@font-face {
  font-family: "JetBrain-Reg";
  src: url("/Users/shabichasureshkumar/Desktop/shoplens/frontend/src/assets/JetBrainsMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrain-Bold";
  src: url("/Users/shabichasureshkumar/Desktop/shoplens/frontend/src/assets/JetBrainsMonoNL-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  @apply top-0 left-10 p-6 absolute;
}

.uploadButton {
  @apply bg-[#FFB2EF] rounded-[1.5px] top-44 ml-16 items-center flex justify-between h-[64px] w-[300px] pl-[8px]  outline-solid outline-[2px] outline-[#2E2E2E] cursor-pointer ;
}



 .uploadText {
  @apply text-[#2E2E2E] text-xs font-normal tracking-[0] leading-[normal] relative w-fit;
  font-family: "JetBrains Mono-Regular", Helvetica;
}

.uploadLogo {
  @apply h-[24px] relative w-[24px] ;
}

.Result {
  @apply top-65 left-10 p-6 text-[#2E2E2E] text-xs font-normal tracking-[0] leading-[normal] w-fit;
    font-family: "JetBrains Mono-Regular", Helvetica;
}
.image {
  @apply relative top-30 left-16 w-50 h-50 outline-solid outline-[#2E2E2E] cursor-pointer ;
}
